{% load static %}
<!doctype html>
<html lang="en">

<head>

    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <!-- CSS
    ================================================== -->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href=" {% static '' %}css/style.css">




</head>

<body>

    <header>
        <nav>
            <div class="navbar">
                <div class="nav-logo">
                    <img id="logo" src="{% static '' %}images/logos/lol.png" alt="GSMmama">

                </div>
                <div class="menu">
                    <a class="menu-text" href="/">HOME</a>
                    <a class="menu-text" href="/">NEWS</a>
                    <a class="menu-text" href="/">ABOUT</a>
                    <a class="menu-text" href="/">CONTUCT US</a>
                </div>
                <div class="search-account">
                    <form class="search-form search-account" action="/" >
                        <input type="text" placeholder="Search.." name="search2">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                    <button>Login</button>
                </div>
            </div>
        </nav>

    </header>


</body>

</html>