body{
    font-family: sans-serif;
    margin: 0px;
}
.navbar{
    height: 70px;
    margin-top: 5px;
    padding-left: 10px;
    background-image: linear-gradient(to right,rgb(249, 71, 109), rgb(253, 122, 64));

    display: grid;
    grid-template-columns:  400px 600px 440px;
    align-content: center;

}

#logo{
    width: 250px;
    margin-left: 7%;
}

.menu{
    display: grid;
    grid-template-columns:  100px 100px 100px 140px;
    align-content: center;

    
}

.menu-text{
    text-decoration: none;
    color: white;
    font-size: 120%;
    font-weight: bold;
}

.search-account{
    display: grid;
    grid-template-columns:  auto auto auto ;
    align-content: center;

}


form.search-form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
    border-radius: 7px;
  }
  
  form.search-form button {
    color: rgb(122, 116, 116);
    font-size: 17px;
    border: 1px solid grey;
    cursor: pointer;
    border-radius: 7px;
  }
  
  form.search-form button:hover {
    background: rgb(249, 71, 109);
  }
  
  form.search-form::after {
    content: "";
    clear: both;
    display: table;
  }